.dashboardpage {

  &__warning {
    gap: 1rem;
    border-radius: $border-raduis;
    background-color: $warning-bg;
    width: 100%;
    padding: 1rem;
    border: 1px solid $warning-outline;

   p {
    color: $font-warning;
   }
  }

  &__statistics {
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 8rem;

    &__card {
      flex-grow: 3;
      width: auto;
    }
  }

  &__chart {
    gap: 2rem;

    &__tooltip {
      padding: 1rem;
      background-color: $white;
      border-radius: $border-raduis;
      box-shadow: $shadow;
      border: 1px solid $lightgray;
      z-index: 10;

      p {
        padding-bottom: 0.5rem;
      }

      span {
        font-weight: 500;
        font-size: 1.5rem;
        color: $violet;
      }
    }
  }
}