button, .button {
  font-family: 'Inter', sans-serif;
  border: none;
  background-color: $violet;
  cursor: pointer;
  color: $white;
  font-size: 1.125rem;
  font-weight: 400;
  border-radius: $border-raduis;
  transition: $transition;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  width: 100%;

  &:hover {
    background-color: $violet-hover;
  }

  &__delete {
    background-color: $red;
    width: auto;
    background-repeat: no-repeat;
    background-image: url('../images/Icon-delete.svg');
    background-position: center;
    margin-bottom: 0;

    &:hover {
        background-color: $red-hover;
      }

    &::before {
      content: ' ';
      display: inline-flex;
    }
  }

  &__page {
    color: $font-gray;
    font-weight: 300;
    padding: 1rem 1.25rem;
    width: auto;
    background-color: $white;
    border: 1px solid $outline-gray;

    &:hover {
      color: $font-black;
      background-color: $outline-gray;
    }
  }

  &.Toastify__close-button {
    display: none;
  }
}