input,
.input {
  font-family: 'Inter', sans-serif;
  border: none;
  background-color: $white;
  color: $font-black;
  font-size: 1.125rem;
  font-weight: 400;
  border: 1px solid $outline-gray;
  border-radius: $border-raduis;
  padding: 1rem 1.25rem;
  transition: $transition;
  width: 100%;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;

  ::placeholder {
    color: $placeholder-gray;
  }

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $violet;
    color: $font-black;
  }

  &__user {
    background-image: url('../images/Icon-user.svg');
  }

  &__password {
    background-image: url('../images/Icon-password.svg');
  }

  &__search {
    background-image: url('../images/Icon-search.svg');
  }
}