// Colors
$lightgray: #FAFAF9;
$violet: #A78BFA;
$violet-hover: #8B5CF6;
$green: #10B981;
$red: #FB7185;
$red-hover: #f43f5e;
$yellow: #FDE68A;
$white: #fff;
$outline-gray: #E7E5E4;
$placeholder-gray: #D4D4D4;
$paleblue: #CFD4E7;
$table-ui: #F1F5F9;

$font-black: #3F3F46;
$font-gray: #9CA3AF;
$font-warning: #514016;
$font-red: #742727;
$font-green: #2B522C;
$font-yellow: #605D46;

$warning-bg: #F5E8D5;
$warning-outline: #EAD8BD;