@import 'colors';

// Global Settings
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

// Misc
$transition: ease-in-out 250ms;
$border-raduis: 8px;
$shadow: 0px 4px 8px 4px rgba(245, 245, 244, 0.05);

body  {
  background-color: $lightgray;
}

// Typography
h1 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
p {
  font-size: 1.125rem;
  font-weight: 400;
  &.bold {
    font-weight: 500;
  }
  &.light {
    color: $font-gray;
    font-weight: 300;
  }
  &.description {
    font-size: 0.875rem;
    font-weight: 300;
  }
  &.error {
    color: $red;
    margin-top: -1.5rem;
    padding-bottom: 2rem;
  }
}

h1,
h2,
p {
  color: $font-black;
}

a {
  font-size: 1.125rem;
  font-weight: 300;
  color: $violet;
  text-decoration: none;
  transition: $transition;

  &:hover {
    color: $violet-hover;
  }
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  font-weight: 400;
  color: $font-gray;
  gap: 1rem;
}