@import 'breakpoints';

// Structure
.flex {
  display: flex;
}

.cols {
  flex-direction: column;
}

.center {
  text-align: center;
}

.jcc {
  justify-content: center;
  align-items: center;
}

.jcsb {
  justify-content: space-between;
}

.pb-32 {
  padding-bottom: 2rem;
}
.mb-32 {
  margin-bottom: 2rem;
}
.pb-48 {
  padding-bottom: 3rem;
}
.pb-64 {
  padding-bottom: 4rem;
}
.pb-80 {
  padding-bottom: 5rem;
}

img {
  max-width: fit-content;
  width: 100%;
  height: auto;
}

.app-wrapper {
  gap: 3.4rem;
}

.wrapper {
  width: 100%;
  padding: 3rem 3.4rem 0 0;
}

.card {
  background-color: $white;
  box-shadow: $shadow;
  width: fit-content;

  &--small {
    padding: 2rem 1.5rem;
  }
}

@media (max-width: $screen-small) {
  .app-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .wrapper {
    padding: 1rem 1.5rem;
    margin: 0 auto;
  }
}