@import 'breakpoints';

// Structure
.flex {
  display: flex;
}

.cols {
  flex-direction: column;
}

.center {
  text-align: center;
}

.jcc {
  justify-content: center;
  align-items: center;
}

.jcsb {
  justify-content: space-between;
}

.pb-32 {
  padding-bottom: 2rem;
}
.pb-48 {
  padding-bottom: 3rem;
}
.pb-64 {
  padding-bottom: 4rem;
}
.pb-80 {
  padding-bottom: 5rem;
}

img {
  max-width: fit-content;
  width: 100%;
  height: auto;
}

.app-wrapper {
  flex-wrap: wrap;
  gap: 3.4rem;
}