@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  background-color: #FAFAF9;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
}
p.bold {
  font-weight: 500;
}
p.light {
  color: #9CA3AF;
  font-weight: 300;
}
p.description {
  font-size: 0.875rem;
  font-weight: 300;
}
p.error {
  color: #FB7185;
  margin-top: -1.5rem;
  padding-bottom: 2rem;
}
p.delivered {
  color: #2B522C;
}
p.pending, p.coming {
  color: #605D46;
}
p.rejected {
  color: #742727;
}

h1,
h2,
p {
  color: #3F3F46;
}

a {
  font-size: 1.125rem;
  font-weight: 300;
  color: #A78BFA;
  text-decoration: none;
  transition: ease-in-out 250ms;
}
a:hover {
  color: #8B5CF6;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  font-weight: 400;
  color: #9CA3AF;
  gap: 1rem;
}

.flex {
  display: flex;
}

.cols {
  flex-direction: column;
}

.center {
  text-align: center;
}

.jcc {
  justify-content: center;
  align-items: center;
}

.jcsb {
  justify-content: space-between;
}

.pb-32 {
  padding-bottom: 2rem;
}

.mb-32 {
  margin-bottom: 2rem;
}

.mb-64 {
  margin-bottom: 4rem;
}

.mb-80 {
  margin-bottom: 5rem;
}

.pb-48 {
  padding-bottom: 3rem;
}

.pb-64 {
  padding-bottom: 4rem;
}

.pb-80 {
  padding-bottom: 5rem;
}

img {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  height: auto;
}

.app-wrapper {
  gap: 3.4rem;
}

.wrapper {
  width: 100%;
  padding: 3rem 3.4rem 0 0;
}

.card {
  background-color: #fff;
  box-shadow: 0px 4px 8px 4px rgba(245, 245, 244, 0.05);
  border-radius: 8px;
}
.card--small {
  padding: 2rem 1.5rem;
}
.card--big {
  padding: 4rem;
}

@media (max-width: 800px) {
  .app-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .wrapper {
    padding: 1rem 1.5rem;
    margin: 0 auto;
  }
}
input,
.input {
  border: none;
  color: #3F3F46;
  font-weight: 400;
  width: 100%;
}
input ::-moz-placeholder, .input ::-moz-placeholder {
  color: #D4D4D4;
}
input :-ms-input-placeholder, .input :-ms-input-placeholder {
  color: #D4D4D4;
}
input ::placeholder,
.input ::placeholder {
  color: #D4D4D4;
}
input__user,
.input__user {
  background-image: url("../images/Icon-user.svg");
}
input__password,
.input__password {
  background-image: url("../images/Icon-password.svg");
}
input__search,
.input__search {
  background-image: url("../images/Icon-search.svg");
}
input__file,
.input__file {
  cursor: pointer;
  height: 7.5rem;
  width: 7.5rem;
  background-image: url("../images/Icon-download.svg");
  background-position: center;
  text-indent: 200%;
  white-space: nowrap;
}
input__file:disabled,
.input__file:disabled {
  background-color: #FAFAF9;
  cursor: auto;
}
input__file:disabled:hover,
.input__file:disabled:hover {
  border: 1px solid #E7E5E4;
}

input::-webkit-file-upload-button {
  display: none;
}

input::file-selector-button {
  display: none;
}

input, .input, select {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem 1.25rem;
  border: 1px solid #E7E5E4;
  font-size: 1.125rem;
  transition: ease-in-out 250ms;
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  margin-bottom: 2rem;
}
input:hover, input:focus, .input:hover, .input:focus, select:hover, select:focus {
  outline: none;
  border: 1px solid #A78BFA;
  color: #3F3F46;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #FAFAF9;
}

::-webkit-scrollbar-thumb {
  background: #9CA3AF;
  border-radius: 8px;
}

select {
  max-width: 15rem;
  cursor: pointer;
  font-weight: 300;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #3F3F46;
  background-image: url("../images/Icon-dropdown.svg");
}

button, .button {
  font-family: "Inter", sans-serif;
  border: none;
  background-color: #A78BFA;
  cursor: pointer;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  border-radius: 8px;
  transition: ease-in-out 250ms;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  width: 100%;
}
button:hover, .button:hover {
  background-color: #8B5CF6;
}
button__delete, .button__delete {
  background-color: #FB7185;
  width: auto;
  background-repeat: no-repeat;
  background-image: url("../images/Icon-delete.svg");
  background-position: center;
  margin-bottom: 0;
}
button__delete:hover, .button__delete:hover {
  background-color: #f43f5e;
}
button__delete::before, .button__delete::before {
  content: " ";
  display: inline-flex;
}
button__page, .button__page {
  color: #9CA3AF;
  font-weight: 300;
  padding: 1rem 1.25rem;
  width: auto;
  background-color: #fff;
  border: 1px solid #E7E5E4;
}
button__page:hover, .button__page:hover {
  color: #3F3F46;
  background-color: #E7E5E4;
}
button.Toastify__close-button, .button.Toastify__close-button {
  display: none;
}

.table {
  display: table;
  font-weight: 300;
  width: 100%;
}

.table-head {
  display: table-header-group;
  background-color: #F1F5F9;
  color: #9CA3AF;
  border-radius: 8px;
}

.table-row {
  display: table-row;
}

.table-col {
  display: table-cell;
  padding: 1.5rem;
  vertical-align: middle;
  font-weight: 300;
}

.table-body {
  display: table-row-group;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px 4px rgba(245, 245, 244, 0.05);
}
.table-body .table-col {
  border-bottom: 1px solid #F1F5F9;
  padding: 1.5rem 1rem;
}

.table-status span {
  padding: 0.3rem 1rem;
  border-radius: 8px;
}
.table-status.delivered span {
  background-color: #10B981;
}
.table-status.pending span, .table-status.coming span {
  background-color: #FDE68A;
}
.table-status.rejected span {
  background-color: #FB7185;
}

.table-gr div {
  display: table-cell;
  vertical-align: middle;
}
.table-gr img {
  max-height: 65px;
  padding-right: 1rem;
}

@media (max-width: 1200px) {
  .table-head {
    display: none;
  }
  .table-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    background-color: transparent;
  }
  .table-gr img {
    padding-right: 0;
  }
  .table-row {
    display: flex;
    flex: 40%;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 4px rgba(245, 245, 244, 0.05);
  }
  .table-row .button__delete {
    width: 100%;
  }
  .table-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  .table-col:first-child {
    background-color: #F1F5F9;
    color: #9CA3AF;
  }
}
@media (max-width: 800px) {
  .table-row {
    flex: 70%;
  }
}
.loginpage {
  margin: 5rem auto;
  max-width: 31rem;
  padding: 0 1.5rem;
}
.loginpage__form {
  width: 100%;
}
.loginpage__form button {
  margin-top: 3.5rem;
}
.loginpage__actions {
  gap: 1rem;
}
.loginpage__dummydata {
  margin-top: 5.5rem;
  max-width: 100%;
}
.loginpage__dummydata div {
  margin-top: 0.5rem;
  gap: 1.5rem;
}

.dashboardpage__warning {
  gap: 1rem;
  border-radius: 8px;
  background-color: #F5E8D5;
  width: 100%;
  padding: 1rem;
  border: 1px solid #EAD8BD;
}
.dashboardpage__warning p {
  color: #514016;
}
.dashboardpage__statistics {
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 8rem;
}
.dashboardpage__statistics__card {
  flex-grow: 3;
  width: auto;
}
.dashboardpage__statistics__card h2 {
  padding-bottom: 1rem;
}
.dashboardpage__chart {
  gap: 2rem;
}
.dashboardpage__chart__tooltip {
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px 4px rgba(245, 245, 244, 0.05);
  border: 1px solid #FAFAF9;
  z-index: 10;
}
.dashboardpage__chart__tooltip p {
  padding-bottom: 0.5rem;
}
.dashboardpage__chart__tooltip span {
  font-weight: 500;
  font-size: 1.5rem;
  color: #A78BFA;
}

.productpage {
  margin: 3rem auto;
}
.productpage__wrapper {
  margin: 0 auto;
  max-width: 58rem;
}
.productpage__form {
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}
.productpage__form__column {
  display: flex;
  flex-direction: column;
  flex: 45%;
}
.productpage__form button {
  margin-bottom: 0;
}

.settingspage {
  margin: 3rem auto;
}
.settingspage__wrapper {
  margin: 0 auto;
  max-width: 36rem;
}
.settingspage__wrapper img {
  height: 7.5rem;
}
.settingspage__wrapper h1, .settingspage__wrapper img {
  margin: 0 auto;
}
.settingspage__form {
  margin-top: 2rem;
}

.sidebar {
  background-color: #fff;
  padding-top: 3.5rem;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  max-width: 15.625rem;
  box-shadow: 4px 0 8px 4px rgba(245, 245, 244, 0.05);
}
.sidebar__logo {
  max-width: 60%;
  margin: 0 auto 10rem;
}
.sidebar__menu {
  gap: 1rem;
  width: 100%;
}
.sidebar__menu a {
  background-repeat: no-repeat;
  background-position: 1rem center;
  color: #9CA3AF;
  padding: 1rem 1rem 1rem 2.75rem;
  margin: 0 0.75rem;
  border-radius: 8px;
}
.sidebar__menu a.active {
  background-color: #A78BFA;
  color: #FAFAF9;
}
.sidebar__menu__dashboard {
  background-image: url("../images/Icon-dashboard.svg");
}
.sidebar__menu__dashboard.active {
  background-image: url("../images/Icon-dashboard-active.svg");
}
.sidebar__menu__products {
  background-image: url("../images/Icon-products.svg");
}
.sidebar__menu__products.active {
  background-image: url("../images/Icon-products-active.svg");
}
.sidebar__menu__orders {
  background-image: url("../images/Icon-orders.svg");
}
.sidebar__menu__orders.active {
  background-image: url("../images/Icon-orders-active.svg");
}
.sidebar__menu__settings {
  background-image: url("../images/Icon-settings.svg");
}
.sidebar__menu__settings.active {
  background-image: url("../images/Icon-settings-active.svg");
}
.sidebar__userblock {
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: center;
  margin: 0 0.75rem;
  position: absolute;
  top: 90vh;
}
.sidebar__userblock p::first-letter {
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .sidebar {
    flex-direction: row;
    padding-top: 0;
    height: 3.5rem;
    max-width: 100vw;
    width: 100%;
    flex-wrap: wrap;
  }
  .sidebar__logo, .sidebar__userblock {
    display: none;
  }
  .sidebar__menu {
    gap: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar__menu a {
    margin: 0 0.35rem;
    padding-left: 2.75rem;
  }
}
@media (max-width: 800px) and (max-width: 600px) {
  .sidebar a {
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    padding: 1rem;
    background-position: center;
  }
}/*# sourceMappingURL=styles.css.map */